*
{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(270deg,#40C9FF,#E81CFF);
}

.first{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-width: 430px;
	background: white;
	padding: 30px;
	width: 100%;
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.first h1{
	color: black;
	font-size: 25px;
	font-weight: 600;
	text-align: left;
}

.first form{
	margin-top: 10px;
	width: 100%;
}

.first form .form-group{
	height: 50px;
	margin: 18px 0;
}

form .form-group input{
	height: 100%;
	width: 100%;
	outline: none;
	padding: 0 15px;
	font-size: 17px;
	color: black;
	border: 1px solid gray;
	border-bottom-width: 2.5px;
	border-radius: 6px;
	transition: all 0.3s ease;
}

.form-group input:focus{
	border-color: black;
}

form .policy{
/*	display: flex;*/
	align-items: center;
	justify-content: start;
}

form .policy input{
	margin-right: 10px;
}

form span{
	color: black;
	font-size: 18px;
	font-weight: 500;
	margin: 10px 0;
}

button{
	color: white;
	letter-spacing: 1px;
	border: none;
	background: blue;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	margin-top: 15px;
	margin-bottom: 10px;
	padding: 5px;
}

button:active{
	transform: scale(0.97);
}

form .link-to{
	display: flex;
	align-items: center;
	justify-content: center;
}